@model EnterpriseWebProject.Models.Faculty

@{
    ViewBag.Title = "FacultyEdit";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<!-----------------------------BODY----------------------------------------------------->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 justify-content-center" style="margin-left: 5%; margin-right: 5%">
                <div class="card">
                    <div class="header">
                        <h4 class="title" style="text-align:center">EDIT FACULTY</h4>
                    </div>
                    <div class="content table-responsive">
                        @using (Html.BeginForm("FacultyCreateOrEdit", "Admin", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Name)
                                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                            <span class="text-danger">@ViewBag.error</span>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Description)
                                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "4", @cols = "80", spellcheck = "false" })
                                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div style="margin-top: 10px; margin-bottom: 10px; position: relative; text-align: center;">
                                <button type="submit" class="btn btn-info btn-fill"
                                        style="margin:10px; box-shadow:0 1px 2px rgb(0 0 0 / 5%), 0 0 0 1px rgb(63 63 68 / 10%)">
                                    Create
                                </button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------------------END BODY------------------------------------------------->