@model EnterpriseWebProject.ViewModel.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<!-----------------------BODY------------------------->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="content">
                        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.OldPassword)
                                        @Html.EditorFor(m => m.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                        <span class="text-danger">@ViewBag.Error</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NewPassword)
                                        @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>
                            <div class="clearfix"></div>
                        }

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." /> <!-- user profile background here -->
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                @if (Model.Avatar == null)
                                {
                                    <img class="avatar border-gray" src="~/Files/Avatar/avatarzz.jpg" alt="User Avatar" /> <!-- user profile avatar here -->

                                }
                                else
                                {
                                    <img class="avatar border-gray" src="~/Files/Avatar/@Model.Avatar" alt="User Avatar" /> <!-- user profile avatar here -->
                                }

                                <h4 class="title">
                                    @Model.Name<br />
                                    <small>@User.Identity.Name</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"></p>
                    </div>
                    <hr>
                </div>
            </div>

        </div>
    </div>
</div>
<!-----------------------BODY------------------------->
