@model EnterpriseWebProject.Models.Account

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<!-----------------------BODY------------------------->
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">User Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input type="text" class="form-control txt" readonly placeholder="Email" value="@Model.Email" style="color: black;">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control txt" readonly placeholder="Username" value="@Model.Username" style="color: black;">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input type="text" class="form-control txt" readonly placeholder="Full Name" value="@Model.Name" style="color: black;">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input type="date" class="form-control" readonly placeholder="Date of birth" value="@Model.DOB" style="color: black;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control" readonly placeholder="Phone" value="@Model.Tel" style="color: black;">
                                    </div>
                                </div>
                            </div>
                                                       
                            <a href="@Url.Action("ChangeProfile","Home")" class="btn btn-info btn-fill pull-right">Edit Profile</a>
                        
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" readonly placeholder="Enter Your Old Password" value="@Model.Password" style="color: black;">
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group" style="margin:35px 0px ">
                                        <a class="" href="@Url.Action("ChangePassword","Home")" style="margin-left:10px">Change Password</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." /> <!-- user profile background here -->
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                @if (Model.Avatar == null)
                                {
                                    <img class="avatar border-gray" src="~/Files/Avatar/avatarzz.jpg" alt="User Avatar" /> <!-- user profile avatar here -->
                                }
                                else
                                {
                                    <img class="avatar border-gray" src="~/Files/Avatar/@Model.Avatar" alt="User Avatar" /> <!-- user profile avatar here -->
                                }
                                <h4 class="title">
                                    @Model.Name<br />
                                    <small>@Model.Username</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"></p>
                    </div>
                    <hr>
                </div>
            </div>

        </div>
    </div>
</div>
<!-----------------------BODY------------------------->
<script>
    function Data(el) {
        $('.filter-light').removeClass('active');
        $(el).parent().addClass('active');
    } 
</script>