
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Account", "Account", "Admin")</li>
                            <li>@Html.ActionLink("Role", "Role", "Admin")</li>
                            <li>@Html.ActionLink("AcademicYear", "AcademicYear", "Admin")</li>
                            <li>@Html.ActionLink("Faculty", "Faculty", "Admin")</li>
                        }
                        if (User.IsInRole("Manager"))
                        {
                            <li>@Html.ActionLink("Magazine", "Magazine", "Manager")</li>
                        }
                        if (User.IsInRole("Student"))
                        {
                            <li><a href="@Url.Action("Contribution","Student")">Contribution</a></li>
                        }
                        if (User.IsInRole("Coordinator"))
                        {
                            <li><a href="@Url.Action("ContriButionSubmited","Coordinator")">Contribution</a></li>
                        }
                        <li><a href="@Url.Action("Profile","Home")">+@User.Identity.Name+</a></li>
                        <li><a class="btn btn-danger" href="@Url.Action("Logout", "Home")">Logout</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }
                </ul>
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>